<div class="edit-task-container">

    <% if (message.error) { %>
        <div class="message-box message-box-danger p-5 text-white mb-3 shadow-md">
            <%= message.error %>
            <button type="button" class="close" aria-label="Close" onclick="closeMessageBox()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <div class="inner-edit-task-container">
        <div class="edit-task-form">
            <h2 class="text-white mb-5 text-center">Edit Task</h2>
            <form action="/edit/<%= task._id %>" method="post" id="edit-task-form">
                <div class="label-container">
                    <label for="title" class="mr-2">Task Title:</label>
                    <input type="text" name="title" id="title" value="<%= task.title %>" required>
                </div>

                <div class="label-container">
                    <label for="description" class="mr-2">Description or Details:</label>
                    <textarea name="description" id="description"><%= task.description %></textarea>
                </div>

                <div class="label-container state-label-container">
                    <label for="state" class="mr-2">Task State:</label>
                    <select name="state" id="state" required>
                        <option value="Pending" <%= task.state === 'Pending' ? 'selected' : '' %>>Pending</option>
                        <option value="Completed" <%= task.state === 'Completed' ? 'selected' : '' %>>Completed</option>
                    </select>
                </div>
                                
                <div class="task-button-container">
                    <a href="/tasks" class="task-button">Cancel</a>
                    <button type="submit" class="task-button">Edit Task</button>
                </div>
            </form>
        </div>
    </div>

</div>
