<!-- task.ejs -->
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

  

<h2>Task</h2>
<a href="/views/task/create">Create Task</a>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>status</th>
  
  </tr>
  <% tasks.forEach(function(task){ %>
    <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
 <td><%= task.state %></td>
        <td>
         
          <div class="edit-delete-button-container">
            
              <a href="/edit/<%= task._id %>">
                 Edit
              </a>
          </div>
      </div>
        </td> 
        <td>
        <a href="/delete/<%= task._id %>">
                 Delete
              </a>
            </td>
      </tr>
  <% }); %>
</table>

</body>
</html>